Should it be possible to Reply to a not-yet-approved liaison statement?

In the current system, a statement that has been entered, but not yet approved, offers a "Reply to liaison" button. Does this make sense? Should it instead only be possible to reply to a statement that is actually posted?

Why do incoming liaison statements need to be approved? It should only be possible to reply to incoming liaison statements from other organisation. Those statements should only be entered by the liaison manager, IAB liaison coordinators or secretariat and don't need approval.

You asked for incoming liaison statements to be approved in https://github.com/ietf-tools/liaison-tooling-2025a/issues/1.

And the currently running system offers the Reply-To on as yet unapproved _outgoing_ liaison statements.

issue #1 was initially only considering outgoing LSs. I know I added a note about incoming statements but I think that is probably obsolete now because we would like to change the process such that the secretariat really only uploads statements in future in exceptional cases and instead they would forward statements they received to the liaison manager or liaison coordination who would then upload them by themselves (so no addition approval needed). This process chance is currently under discussion with the secretariat and we will announce it to the liaison managers as soon as we have clarified all details.

Note that this is also related to the discussion in #3 where the term approval (for outgoing statements) is really related to what is described RFC4052 (section 4) and in future RFC4053bis, so usually the AD will approve. While we potentially want another thing that we don't want to call approval where the liaison manager can double-check all outgoing statements before they get actually sent. Again the liaison manager should ideally also check also all in-coming statements but ideally the liaison manager will also enter them directly themselves in future, so we might not need tooling support for that. But most importantly those incoming statements don't need approval on the technical level by an AD or such.